
// ========= Font ========
// =========================

    // === Open Sans ===git
        //  regular
        @font-face {
            font-family: 'OpenSans';
            src: url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot);
            src: url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),
                 url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff) format('woff'),
                 url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff2) format('woff2'),
                 url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf) format('truetype');
            font-weight: 400;
            font-style: normal;
        }
        
                //  Bold
        @font-face {
            font-family: 'OpenSans';
            src: url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot);
            src: url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot#iefix) format('embedded-opentype'),
                 url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff) format('woff'),
                 url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff2) format('woff2'),
                 url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf) format('truetype');
            font-weight: 700;
            font-style: normal;
        }
        
            // == Dosis ==
                // bold
        
        @font-face {
            font-family: 'Dosis';
            src: url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.eot);
            src: url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.eot#iefix) format('embedded-opentype'),
                    url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.woff) format('woff'),
                    url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.woff2) format('woff2'),
                    url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.ttf) format('truetype');
            font-weight: 700;
            font-style: normal;
        }
        
// ========= Variables ========
// ========================= 

$decor-color: #E8C300;

$light-theme: #000;
$dark-theme: #fff;

$span-color: #333;

$heading: 'Dosis', sans-serif;
$caption: 'OpenSans', sans-serif;



// ========= Default style ========
// =========================

*,*::before,*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

// ========= Home ========
// =========================

.home {
    width: 100%;
    background-image: url('../images/home/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav__list{
    display: flex;
    justify-content: space-between;
    // width: 90%;
    margin: 0 auto;
}

.nav__item{
    list-style-type: none;
    margin-top: 20px;
}

.nav__link:hover{
    opacity: 70%;
}

.nav__link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.home__body{
    position: relative;
}

.called{
    text-align: center;
    margin-top: 85px;
}

.subtitle{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.title{
    font-family: Karla;
    font-size: 96px;
    line-height: 0px;
    color: #FFFFFF;
    position: relative;
}

.title::after{
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: $decor-color;
    position: absolute;
    bottom: -70px;
    right: 47%;
}

.home__btn{
    text-align: center;

}

.book__table{
    width: 200px;
    height: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: $decor-color;
    margin-right: 40px;
    cursor: pointer;
    margin-top: 60px;
}

.explore{
    width: 200px;
    height: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    margin-top: 60px;
}

.book__table:hover{
    transform: scale(1.05);
}
.book__table:active{
    opacity: 50%;
}

.explore:hover{
    transform: scale(1.05);
}

.explore:active{
    opacity: 50%;
}

.social{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
}

.social__icon{
    margin-bottom: 10px;
}

.social__icon:hover{
    opacity: 50%;
}

.scroll__btn{
    text-align: center;
    margin-top: 80px;
}

.scroll__btn:hover{
    opacity: 70%;
}

.schedule{
    position: absolute;
    top: 0px;
    left: 0;
}

.schedule__day{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

// ========= Section ========
// =========================

.wrapper {
    margin-top: 100px;
}

.flex-content {
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    
    flex-wrap: wrap;
}

.title-wrapper {
    width: 100%;
    max-width: 600px;
}

.text-title {
    font-family: $heading;
    font-size: 2.25rem;
    line-height: 1.333;
    font-weight: 700;
    text-align: center;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        background-color: $decor-color;
        position: absolute;
        left: calc(50% - 30px);
        bottom: -6px;

        border-radius: 50px;
    }
}

.subtext {
    font-family: $caption;
    font-size: .875rem;
    line-height: 1.71;
    color: $light-theme;

    text-align: center;


}

.subtext__weight {
    display: block;
    margin: 20px 0;

    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5;
}

.photo {
    width: 40%;
    padding-top: 37%;

    position: relative;

    &::after {
        content: "";
   
        width: 250px;
        height: 250px;

        background: transparent;
        border: 20px solid $decor-color;
        border-radius: 5px;

        position: absolute;
        top: calc(50% - 125px);
        right: -13%;
        z-index: 1;
    
    }
}

.photo__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

