@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot);
  src: url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff) format("woff"), url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff2) format("woff2"), url(../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot);
  src: url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff) format("woff"), url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.woff2) format("woff2"), url(../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.eot);
  src: url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.eot#iefix) format("embedded-opentype"), url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.woff) format("woff"), url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.woff2) format("woff2"), url(../fonts/Dosis/Dosis-Bold/Dosis-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Caption';
  src: url(../fonts/Caption/PTSerifCaption-Regular.eot);
  src: url(../fonts/Caption/PTSerifCaption-Regular.eot#iefix) format("embedded-opentype"), url(../fonts/Caption/PTSerifCaption-Regular.woff) format("woff"), url(../fonts/Caption/PTSerifCaption-Regular.woff2) format("woff2"), url(../fonts/Caption/PTSerifCaption-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000;
}

.content {
  color: #fff;
  width: 100%;
  background-image: url(../images/section3/Background_image.png);
  background-size: cover;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  font-family: 'Opensans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5em;
  line-height: 1.17em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding-bottom: 100px;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo {
  position: relative;
  width: 30em;
  height: 30em;
}

.photo__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

.photo:after {
  content: "";
  width: 250px;
  height: 250px;
  background: transparent;
  border: 20px solid #E8C300;
  border-radius: 5px;
  position: absolute;
  top: calc(50% - 125px);
  left: -13%;
  z-index: 1;
}

.title {
  width: 100%;
  max-width: 600px;
}

.text__title {
  font-family: "Dosis",sans-serif;
  font-size: 2.25rem;
  line-height: 1.333;
  font-weight: 700;
  text-align: center;
  position: relative;
}

.text__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: #E8C300;
  position: absolute;
  left: calc(50% - 30px);
  bottom: -6px;
  border-radius: 50px;
}

.subtext {
  font-family: "OpenSans",sans-serif;
  font-size: 0.875rem;
  line-height: 1.71;
  text-align: center;
}

.subtext__weight {
  display: block;
  margin: 20px 0;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */